.attractions {
  width: 100%;
}

.attractions__header {
  color: #ffffff;
  text-align: center;
}

.attractions__colored-background {
  background-color: #81b3d2;
}

.attractions__image {
  width: 100%;
}

.attractions__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.attractions__description {
  font-size: 14px;
  text-transform: uppercase;
}
