.attractions {
  width: 100%;
  display: grid;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  grid-template-columns: 2fr 1fr;

// @media (max-width: $tablet-width){
//   margin-bottom: 63px;
// }

  @media (max-width: $mobile-width-only) {

    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}

.attractions__header {
  display: grid;
  align-items: center;
  grid-template-rows: 84px 45px 81px;

  @media (max-width: $tablet-width) {
    grid-template-rows: 90px 61px 85px;
  }

  @media (max-width: $mobile-width-only) {
    grid-template-rows: 60px 61px 89px;
    height: 211px;
  }
}

.attractions__colored-background {
  text-align: center;
  background-color: $blue;
  color: #ffffff;
}

//  {
//   width: 100%;
// }

.attractions-picture {
  width: 100%;

  @media (max-width: $tablet-width) {
    height: 100%;
    width: 100%;
  }

  @media (max-width: $mobile-width-only) {
    height: auto;
    width: 100%;
  }
}

.attriction-picture-image {
  height: 260px;
  overflow: hidden;
  width: 100%;
  order: -1;
}

@media (max-width: $desktop-width) {
  .attriction-picture-image {
    order: -1;

  }
}

@media (max-width: $tablet-width) {
  .attriction-picture-image {
    order: -1;

  }
}

@media (max-width: $mobile-width-only) {
  .attriction-picture-image {
    order: 0;
    height: 260px;
  }
}

.attractions__title {


  @media (min-width: $tablet-width) {
    align-self: end;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
  }
  @media (max-width: $mobile-width-only) {
    align-self: end;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
  }
}

.attractions__description {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.attractions__number {
  margin: 12px auto;
}

.attractions-features__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.attractions-features__description {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
