.attractions {
  width: 100%;
}

.attractions__header {
  background-color: $blue;
  min-height: 211px;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 13px;
}

.attractions__colored-background {
  text-align: center;
  width: 295px;
}

.attractions-picture {
  min-width: 100%;
  min-height: auto;
  overflow: hidden;
}

.attractions-picture__image {
  height: 260px;
  position: relative;
  left: -101px;
}

.attractions__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.attractions__description {
  font-size: 14px;
  text-transform: uppercase;
}
