.attriction-picture-image {
  height: 260px;
  overflow: hidden;
  width: 100%;
  order: -1;

  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $mobile-width-only) {
     height: 256px;
  }
}
