.attractions {
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: 0.74fr 1fr;
  grid-template-columns: 1fr;

   @media (min-width: $tablet-width) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 800px 400px;
    grid-template-rows: 1fr;
  }
}

.attractions__header {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 0.7fr 1fr;

  @media (min-width: $tablet-width) {
    grid-template-rows: 1fr 0.5fr 1fr;
    padding: 0 35px;
  }
  @media (min-width: $desktop-width) {
    grid-template-rows: 1fr 0.3fr 1fr;
  }
}

.attractions__colored-background {
  text-align: center;
  background-color: $blue;
  color: #ffffff;
}

.attractions__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  align-self: end;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 5px 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    line-height: 26px;
    padding: 6px 0;
  }
}

.attractions__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  align-self: start;
  margin-top: -6px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;
    padding-right: 1px;
  }
}

.attractions__number{
  font-size: 14px;
  align-self: start;
  padding-top: 3px;

  @media (min-width: $desktop-width) {
    padding-top: 4px;
  }
}
