.attractions {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: $desktop-width) {
  .attractions {
    flex-wrap: nowrap;
  }
}

@media (max-width: $tablet-width) {
  .attractions {
    flex-wrap: nowrap;
  }
}

@media (max-width: $mobile-width-only) {
  .attractions {
    flex-wrap: wrap;
  }
}

.attractions__header {
  flex-basis: 33.33%;
}

@media (max-width: $mobile-width-only) {
  .attractions__header {
    flex-basis: 100%;
  }
}

.attractions__colored-background {
  text-align: center;
  background-color: $blue;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.attractions-picture {
  flex-basis: 66.66%;
}

.attractions-picture__image {
  width: 100%;
}

.attriction-picture-image {
  height: 260px;
  overflow: hidden;
  width: 100%;
  order: -1;
}

@media (max-width: $desktop-width) {
  .attriction-picture-image {
    order: -1;
  }
}
@media (max-width: $tablet-width) {
  .attriction-picture-image {
    order: -1;
  }
}
@media (max-width: $mobile-width-only) {
  .attriction-picture-image {
    order: 0;
  }
}

.attractions__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.attractions__description {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.attractions__number {
  margin: 12px auto;
}

.attractions-features__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.attractions-features__description {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

