.city {
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }
}

.city__header {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 0.7fr 1fr;

  @media (min-width: $tablet-width) {
    grid-template-rows: 1fr 0.5fr 1fr;
    padding: 0 35px;
  }
}

.city__colored-background {
  text-align: center;
  background-color: $blue;
  color: #ffffff;
}

.city__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  align-self: end;
}

.city__description {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  align-self: start;
}
