.city-features__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  justify-self: start;

  @media (min-width: $tablet-width) {
    align-self: center;
    justify-self: center;
  }

  @media (min-width: $mobile-width-only) {
    font-size: 21px;
  }
}

.city-features__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  grid-column: 2/2;
  justify-self: flex-start;
  padding: 0 19px 0 0;

  @media (min-width: $tablet-width) {
    grid-column: 1/1;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    align-self: baseline;
    justify-self: center;
    line-height: 21px;
  }
}

.city-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // padding: 0 10px 10px;
  margin-bottom: 22px;


  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    margin-bottom: 48px;
    padding: 0;
    gap: 0 5px;
  }

}

.city-features li:nth-child(1) img {
  @media (min-width: $tablet-width) {
    width: 75px;
  }

  @media (min-width: $desktop-width) {
    top: -4px;
    position: relative;
    left: -1px;
  }

  @media (max-width: $mobile-width-only) {
    width: 39px;
    position: relative;
    top: -2px;
    left: 6px;
}
  }

.city-features li:nth-child(3) img {
   @media (min-width: $tablet-width) {
    width: 76px;
  }

  @media (min-width: $desktop-width) {
    width: 77px;
    position: relative;
    top: -2px;
    left: -1px;
  }

  @media (max-width: $mobile-width-only) {
    width: 40px;
    position: relative;
    top: 4px;
    left: 3px;
  }
}

.city-features li:nth-child(2) img {
  @media (min-width: $tablet-width) {
    width: 64px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: -5px;
    left: -3px;
  }

  @media (max-width: $mobile-width-only) {
    width: 32px;
    position: relative;
    left: 6px;
    top: -2px;
  }
}

.city-features li:nth-child(2) {
  @media (min-width: $desktop-width) {
    order: 3;
  }

  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (max-width: $mobile-width-only) {
    order: 2;
  }
}

.city-features li:nth-child(3) {
  @media (min-width: $desktop-width) {
    order: 2;
  }

  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (max-width: $mobile-width-only) {
    order: 3;
  }
}

.city-features__item {
  display: grid;
  grid-template-columns: repeat(1, 1fr 3.59fr);
  justify-items: center;
  align-items: center;
  text-align: left;
  width: 100%;
  margin-bottom: 16px;
    gap: 13.3px 0;


  @media (min-width: $tablet-width) {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: stretch;
    grid-template-columns: 1fr;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    grid-template-rows: 1fr 0.9fr 1fr;
  }
}
