.city {
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: 0.87fr 0.5fr;
  grid-template-columns: 1fr;
  margin-bottom: 29px;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }
}

.city__header {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 0.7fr 1fr;

  @media (min-width: $tablet-width) {
    grid-template-rows: 1fr 0.5fr 1fr;
    padding: 0 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 55px;
    grid-template-rows: 1fr 0.6fr 1fr;
  }
}

.city__colored-background {
  text-align: center;
  background-color: $blue;
  color: #ffffff;
  background-image: url("../img/white.svg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}

.city__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  align-self: end;
  position: relative;
  top: 15px;


  @media (min-width: $desktop-width) {
    font-size: 21px;
    line-height: 25px;
  }
}

.city__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  align-self: stretch;
  position: relative;
  top: 4px;


  @media (min-width: $desktop-width) {
    line-height: 21px;
  }
}

.city__number {
  font-size: 14px;
  line-height: 21px;
  position: relative;
    top: 6px;

  @media (min-width: $desktop-width) {

    position: relative;
    top: -4px;
  }

}
