.city-picture__image {
  width: 100%;

  @media (max-width: $mobile-width-only) {
    height: auto;
  }

  @media (max-width: $tablet-width) {
    height: 100%;
  }


}

.city-picture {
  height: 260px;
  width: 100%;
  overflow: hidden;

  @media (min-width: $tablet-width) {
       height: 258px;
    object-fit: cover;
  }

  @media(min-width: $desktop-width) {
    height: 256px;
  }

}
