.city-features__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  justify-self: start;
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    align-self: center;
    justify-self: center;
     padding-right: 5px;
    padding-top: 3px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    padding: 13px 0 0;
  }
}

.city-features__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  grid-column: 2/2;
  justify-self: flex-start;
  padding: 0 19px 0 0;

  @media (min-width: $tablet-width) {
    grid-column: 1/1;
    justify-self: center;
    padding: 0 4px 0 0;
  }

  @media (min-width: $desktop-width) {
    align-self: baseline;
    justify-self: center;
    line-height: 21px;
    padding: 11px 1px 0 0;
  }
}

.city-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 19px;


  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    display: grid;
    grid-template-columns: 197px 159px 196px;
    gap: 78px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    margin-bottom: 48px;
    padding: 0;
    gap: 0 5px;
  }

}

.city-features li:nth-child(1) img {
  @media (min-width: $tablet-width) {
    width: 75px;
    padding-right: 7px;
    padding-top: 3px;
}


  @media (min-width: $desktop-width) {
    padding-right: 2px;
    margin-top: -7px;

  }

  @media (max-width: $mobile-width-only) {
    width: 39px;
    padding-left: 11px;
    margin-top: -2px;

}
  }

.city-features li:nth-child(3) img {
   @media (min-width: $tablet-width) {
    width: 77px;
    padding-right: 7px;
    padding-top: 5px;
}



  @media (min-width: $desktop-width) {
    width: 77px;
     padding: 0;

  }

  @media (max-width: $mobile-width-only) {
    width: 40px;
    padding-left: 7px;
    padding-top: 5px;

  }
}

.city-features li:nth-child(2) img {
  @media (min-width: $tablet-width) {
    width: 64px;
    margin-top: -3px;
    padding-right: 4px;
    padding-top: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -8px;
  }

  @media (max-width: $mobile-width-only) {
    width: 32px;
    padding-left: 12px;

  }
}

.city-features li:nth-child(2) {
  @media (min-width: $desktop-width) {
    order: 3;
  }

  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (max-width: $mobile-width-only) {
    order: 2;
  }
}

.city-features li:nth-child(3) {

  @media (min-width: $desktop-width) {
    order: 2;
  }

  @media (min-width: $tablet-width) {
    order: 2;
    // & h3 {
    //   padding-bottom: 2px;
    // }
    // & p {
    //   margin-top: -2px;
    //   padding-left: 2px;
    // }

  }

  @media (max-width: $mobile-width-only) {
    order: 3;
  }
}

.city-features__item {
  display: grid;
  grid-template-columns: repeat(1, 1fr 3.59fr);
  justify-items: center;
  align-items: center;
  text-align: left;
  width: 100%;
  margin-bottom: 15px;
    gap: 14.3px 0;


  @media (min-width: $tablet-width) {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: stretch;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 0;
    margin-top: -3px;
    padding-left: 2px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    grid-template-rows: 1fr 0.9fr 1fr;
    margin-top: 4px;
    padding-left: 0;
  }
}
