.city {
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: 0.87fr 0.5fr;
  grid-template-columns: 1fr;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 400px 800px;
    grid-template-rows: 1fr;
  }
}

.city__header {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 0.2fr 1fr;

  @media (min-width: $tablet-width) {
    grid-template-rows: 1fr 0.5fr 1fr;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 55px;
    grid-template-rows: 1fr 0.6fr 1fr;
  }
}

.city__colored-background {
  text-align: center;
  background-color: $blue;
  color: #ffffff;
  background-image: url("../img/white.svg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}

.city__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  align-self: end;

  @media (min-width: $tablet-width) {
    padding-bottom: 9px;
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    line-height: 25px;
    padding-bottom: 0;

  }
}

.city__description {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  align-self: stretch;
  margin-top: 17px;

  @media (min-width: $tablet-width) {
    margin-top: -3px;
  }

  @media (min-width: $desktop-width) {
    line-height: 21px;
    margin-top: -1px;

  }
}

.city__number {
  font-size: 14px;
  line-height: 21px;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    align-self: start;
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;

  }

}
