.city {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 25px;
}

@media (max-width: $desktop-width) {
  .city {
    flex-wrap: nowrap;
  }
}

@media (max-width: $tablet-width) {
  .city {
    flex-wrap: nowrap;
  }
}

@media (max-width: $mobile-width-only) {
  .city {
    flex-wrap: wrap;
  }
}

.city__header {
  flex-basis: 33.33%;
}


@media (max-width: $mobile-width-only) {
  .city__header {
    flex-basis: 100%;
    height: 191px;
  }
}

.city__colored-background {
  text-align: center;
  background-color: $blue;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.city-picture {
  flex-basis: 66.66%;
}

.city-picture__image {
  width: 100%;
}

.picture-image {
  height: 260px;
  overflow: hidden;
  width: 100%;
}

.city__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.city__description {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.city__number {
  margin: 12px auto;
}

.city-features__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  justify-self: start;
}

.city-features__description {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  grid-column: 2/2;
}

.city-features {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

@media (max-width: $desktop-width) {
  .city-features {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
}

@media (max-width: $tablet-width) {
  .city-features {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
}

@media (max-width: $mobile-width-only) {
  .city-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px 10px;
  }
}


@media (max-width: $mobile-width-only) {
  .city-features__item {
    display: grid;
    // grid-template-rows: repeat(1, 1fr 1fr);
    // grid-column: 1 / 2;
    // grid-row: -1/1;
    // grid-template-areas:
    //   "img h3"
    //   ". p";
    grid-template-columns: repeat(1, 1fr 3fr);
    justify-items: center;
    align-items: center;
    text-align: left;
    margin-bottom: 26px;
  }
}
