.contacts-email__image {
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: $background-fields;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;

  &--email {
    background-image: url("../img/mail.svg");
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 3;
    grid-row-start: 1;
  }
}
