.copyright__text {
  padding-right: 12px;
  text-transform: uppercase;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
  }

}

.copyright__link {
  padding-top: 3px;
  padding-right: 1px;

  &:hover .copyright__image-path,
  &:focus .copyright__image-path {
    fill: $blue-hover;
  }

  &:active .copyright__image-path {
    fill: $blue-hover;
  }
}
