.emotions-text {
  display: flex;
  flex-wrap: wrap;
}

.emotions-text__field {
  width: 100%;

  background-color: $input-bacground;
  font-size: $title;
  color: $color-black;
  border: none;
  padding: 13px 0 17px 20px;
  line-height: 26px;
  margin-bottom: 51px;

  &:hover {
    background-color: $border-gallery-grey;
    outline: 4px solid $border-gallery-grey;
    outline-offset: -8px;
  }

  &:active,
  :focus,
  :valid {

    outline: 4px solid $border-gallery-grey;
    outline-offset: -4px;
    background-color: $white;
  }

  &::placeholder {
    color: $color-black;
    font-weight: bold;
  }

  @media (min-width: $tablet-width) {
    padding: 18px 0 12px 21px;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
