.page-footer__wrapper {
  padding: 0 20px;
  display: grid;
  justify-items: center;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 60px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 120px;
  }
}

.page-footer__copyright {
  align-items: center;
  display: flex;
}

.page-footer__tag {

  text-align: center;
}

.copyright__text {
  padding-right: 14px;
  text-transform: uppercase;
}

.social__list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
}

.social__link {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: $blue;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;

  &:hover {
    background-color: $blue-hover;
  }

  &:active:focus {
    background-color: $blue-down;
  }
}

.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
}

.social__link--facebook {
  background-image: url("../img/icon-facebook.svg");
}

.social__link--youtube {
  background-image: url("../img/icon-youtube.svg");
}

.copyright__link {
  &:hover .copyright__image-path,
  &:focus .copyright__image-path {
    fill: $blue-hover;
  }

  &:active .copyright__image-path {
    fill: $blue-hover;
  }
}
