.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-footer__copyright {
  align-items: center;
  display: flex;
}

.page-footer__tag {
  margin-bottom: 40px;
}

.copyright__text {
  padding-right: 14px;
  text-transform: uppercase;
}

.social__list {
  margin-bottom: 40px;
}

.social__item {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: $blue;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}
