legend {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: center;
}

fieldset {
  border: 0;
  margin-bottom: 25px;
  border-bottom: 1px solid $border-gallery-grey;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

input::-webkit-input-placeholder {
  color: #000000;
  font-weight: bold;
  padding: 20px;
}
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
  width: 48px;
  height: 48px;

}

// input[type="text"]:hover {
//   border: 4px solid $border-gallery-grey;
// }
.reviews-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 20px;
}

.person-information__lable, .contacts-information__lable {
  font-size: $description;
  text-transform: uppercase;
}

.person-information__input {
  font-size: $title;
  width: 100%;
  margin-left: 14px;
  background-color: $input-bacground;
  border: none;
  height: 58px;

  &:hover {
    background-color: $border-gallery-grey;
  }

  &:active,
  :focus,
  :valid {

    background-color: #ffffff;

  }
}

.person-information {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.contacts-information, .impressions-select, .landmarks {
  margin-bottom: 25px;
}


.contacts-information__input {
  font-size: $title;
  font-weight: bold;
}


.impressions-select__lable, .landmarks__lable {
  font-size: $title;
  font-weight: bold;
  position: relative;
  top: -18px;

}

.emotions {
  display: flex;
  flex-wrap: wrap;
}

.emotions__field {
  width: 100%;
  height: 160px;
  background-color: #f2f2f2;
  font-size: $title;
  color: #000000;
  padding: 10px;
}

.form-submit__button {
  border: 0 none;
  background-color: $blue;
}
