.form-submit {
  text-align: center;
  margin: 39.75px auto 71px;
}

.form-submit__button {
  border: 0 none;
  background-color: $blue;

  @media (min-width: $tablet-width) {
    padding: 14.5px 70px 17.5px 70px;
  }
}
