.form-submit {
  text-align: center;
  margin-bottom: 77px;

  @media (min-width: $tablet-width) {
    grid-column-start: -1;
    grid-column-end: 1;
    display: grid;
    margin-bottom: 91px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 95px;
  }
}

.form-submit__button {
  border: 0 none;
  background-color: $blue;
  padding: 18px 50px 14px 47px;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    padding: 18px 58px 14px 47px;
  }

  @media (min-width: $desktop-width) {
    padding: 19px 45px 14px 45px;
  }
}

.form-submit__rule {
  display: none;


  @media (min-width: $tablet-width) {
    display: block;
    grid-column-start: 2;
    align-self: center;
    justify-self: end;
    font-size: 14px;
    line-height: 26px;
    padding-top: 5px;
    text-transform: uppercase;
  }
}
