.gallery-image__thumbnail {
  overflow: hidden;
  object-fit: cover;
  object-position: 0 0;
  width: 100%;
}

.gallery-image__size {
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.gallery-image__descripton {
  margin-bottom: 23px;
  position: relative;
  border-bottom: 1px solid $border-gallery-grey;

  &::after {
    content: "";
    position: absolute;
    left: 0%;
    // width: 320px;

    // transform: translateX(-6%);
    border-bottom: 1px solid #e5e5e5;
  }


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 0;

    background-color: #f2f2f2;
    margin-top: -7px;
    padding: 16px 19px 14px 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    top: -86px;
    left: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.35);
  }
}


.gallery-image__title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: -1px;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    align-self: end;
    margin-bottom: 0px;
    margin-top: -3px;

  }
}

.gallery-image__author {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    margin-bottom: 0;
  }
}
