.gallery-image-like {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    grid-column: 2/2;
    justify-self: end;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
  }
}
.gallery-image-like__like:nth-child(1) {
  padding-left: 1px;
}
.gallery-image-like__like:nth-child(2) {
  padding-left: 1px;
}
.gallery-image-like__like {
  width: 23px;
  height: 21px;
  margin-right: 14px;

  @media (min-width: $tablet-width) {
    padding-right: 10px;
    margin: 0;


  }
}

.gallery-image-like__count {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  position: relative;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   height: 31px;
  //   width: 2;
  //   background-image: url("img/like-icon.svg");
  // }
}
