.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image__thumbnail {
  overflow: hidden;
  object-fit: cover;
  object-position: 0 0;
}

.gallery-image__size {
  margin-bottom: 11px;
}

.gallery-image__descripton {
  margin-bottom: 23px;
  border-bottom: 1px solid $border-gallery-grey;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.gallery-image__title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    grid-column: 1;
  }
}

.gallery-image__author {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    grid-column: 1;
  }
  }


.gallery-image-like {
  margin-bottom: 15px;
  @media (min-width: $tablet-width) {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: start;
    margin: 0;
}
  }


.gallery-image-like__like {
  padding-right: 14px;
}
