.gallery-intro {
  margin-bottom: 22px;
  border-bottom: solid 1px $border-gallery-grey;

  @media (min-width: $tablet-width) {
    border: 0;
    margin-bottom: 47px;
  }
}

.gallery-intro__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    flex-wrap: wrap;
    justify-items: center;
    text-align: center;
    padding: 0 60px;
  }
}

.gallery-intro__title {
  font-size: $title;
  margin-bottom: 28px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 34px;
  }
}

.gallery-intro__description {
  font-size: $description;
  line-height: 24px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  padding-left: 1px;
  padding-bottom: 31px;

  @media (min-width: $desktop-width) {
    padding-left: 0;

    padding-right: 3px;
  }
}
