.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
// .gallery-image {
//   width: 100%;
// }

.gallery-image__thumbnail {
  overflow: hidden;
  object-fit: cover;
  object-position: 0 0;
}

.gallery-image__size {
  margin-bottom: 11px;
}

.gallery-image__descripton {
  margin-bottom: 23px;
  border-bottom: 1px solid $border-gallery-grey;
}

.gallery-image__title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.gallery-image__author {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 13px;
}

.gallery-image-like {
  margin-bottom: 15px;
}
.gallery-image-like__like
{    padding-right: 14px}
