.gallery-image__thumbnail {
  overflow: hidden;
  object-fit: cover;
  object-position: 0 0;
  width: 100%;
}

.gallery-image__size {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.gallery-image__descripton {
  margin-bottom: 23px;
  border-bottom: 1px solid $border-gallery-grey;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 0;
    position: relative;
    top: -7px;
    background-color: #f2f2f2;
    padding-left: 20px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    top: -86px;
    left: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.35);
  }
}

.gallery-image__title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    align-self: end;
    margin-bottom: 0;
  }
}

.gallery-image__author {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    margin-bottom: 0;
  }
}
