.gallery {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
  }
}

.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 62px;
  }
}
