.gallery-inro {
  margin-bottom: 43px;
}

.gallery-intro__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20px;
  text-align: center;
}

.gallery-intro__title {
  font-size: $title;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.gallery-intro__description {
  font-size: $description;
  line-height: 24px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
}
