.gallery-image-like {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    grid-column: 2/2;
    justify-self: stretch;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 18px;
  }
}

.gallery-image-like__like {
  width: 23px;
  height: 21px;
  margin-right: 10px;
  fill: #000000;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    padding-right: 10px;
    margin: 0;
    padding-left: 5px;
  }

  @media (min-width: $desktop-width) {
    fill: #ffffff;
    opacity: 1;
  }
}

.gallery-image-like__count {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  position: relative;
}
