.gellery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 479px 346px;

    li:first-child {
      width: 100%;
      grid-column-start: -1;
      grid-column-end: 1;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 267px;
    align-items: stretch;
  }
}
