.header-logo {
  height: 56px;
  order: 2;
  display: grid;
  justify-content: center;

  @media (min-width: $tablet-width) {
    order: 2;
    display: grid;
    justify-content: center;
    height: 0;

  }

  @media (min-width: $desktop-width) {
    &--big {
      width: 167px;
      height: 94px;

    }
  }
}
