.hotel-search {
  text-align: center;
  width: 100%;
}

.hotel-search__title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.hotel-search__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}
