.impressions-select__lable {
  font-size: $title;
  font-weight: bold;
  padding-left: 78px;

  @media (min-width: $tablet-width) {
    padding-left: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 79px;
  }
}

.impressions-select {
  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }
}

.impressions-select__item {
  display: grid;
  align-items: center;
  margin-bottom: 43px;

  &:nth-child(3) {
    margin-bottom: 40px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.impressions-select__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.impressions-select__radio {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-left: -78px;
  margin-top: -17px;
  background-color: $input-bacground;

  &:hover {
    background-color: $border-gallery-grey;
  }

  @media (min-width: $tablet-width) {
    margin-left: -75px;
    margin-top: -16px;
  }
}

.impressions-select__input:checked + .impressions-select__radio {
  background-color: $border-gallery-grey;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.0209 10.9225C20.0209 5.90265 15.9503 1.82876 10.9284 1.82876C5.90623 1.82876 1.83574 5.90265 1.83574 10.9225C1.83574 15.9457 5.9065 20.0168 10.9284 20.0168C15.9501 20.0168 20.0209 15.9457 20.0209 10.9225Z' fill='%23333333' stroke='%23333333' stroke-width='3'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
