.impressions-select__lable {
  font-size: $title;
  font-weight: bold;
  padding-left: 84px;

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.impressions-select {
  margin-bottom: 43px;
  display: grid;
  align-items: center;
}

.impressions-select__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.impressions-select__radio {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-left: -84px;
  margin-top: -13px;
  background-color: #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
  }
}

.impressions-select__input:checked + .impressions-select__radio {
  background-color: #e5e5e5;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.0209 10.9225C20.0209 5.90265 15.9503 1.82876 10.9284 1.82876C5.90623 1.82876 1.83574 5.90265 1.83574 10.9225C1.83574 15.9457 5.9065 20.0168 10.9284 20.0168C15.9501 20.0168 20.0209 15.9457 20.0209 10.9225Z' fill='%23333333' stroke='%23333333' stroke-width='3'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
