.landmarks-select {
  display: grid;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;

    &--break {
      display: none;
    }

    &:nth-child(4),
    &:nth-child(3) {
      margin-bottom: 53px;
    }

    &:nth-child(2) .landmarks-select__lable {
      padding-left: 84px;
    }

    &:nth-child(2) .landmarks-select__check-box {
      margin-left: -82px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-top: 23px;
    padding-bottom: 33px;
    margin: 0;

    &:nth-child(4),
    &:nth-child(3) {
      margin: 0;
    }

    &:nth-child(1) .landmarks-select__lable {
      padding-left: 0;
    }

    &:nth-child(2) .landmarks-select__lable {
      padding-left: 7px;
    }

    &:nth-child(3) .landmarks-select__lable {
      padding-left: 12px;
      padding-right: 0;
    }

    &:nth-child(4) .landmarks-select__lable {
      padding-left: 0;
      margin-right: 0;
    }

    &:nth-child(2) .landmarks-select__check-box {
      margin-left: -80px;
    }

    &:nth-child(3) .landmarks-select__check-box {
      margin-left: -79px;
    }

    &:nth-child(4) .landmarks-select__check-box {
      margin-left: -80px;
    }
  }
}

.landmarks-select_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 54px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 8px 55px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    width: 100%;
  }
}

.landmarks-select__lable {
  font-size: $title;
  font-weight: bold;
  padding-left: 79px;
  cursor: pointer;

  &:hover span.landmarks-select__check-box {
    background-color: $border-gallery-grey;
    border: 5px solid $border-gallery-grey;
  }

  @media (min-width: $tablet-width) {
    padding-left: 82px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    line-height: 26px;
  }
}


.landmarks-select__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.landmarks-select__check-box {
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 6%;
  margin-left: -79px;
  margin-top: -17px;
  background-color: $input-bacground;
  border: 5px solid $input-bacground;


  &:hover {
    background-color: $border-gallery-grey;
    border: 5px solid $border-gallery-grey;
  }

  @media (min-width: $desktop-width) {
    margin-left: -80px;
  }
}

.landmarks-select__input:checked + .landmarks-select__check-box {
  background-color: $border-gallery-grey;
  border: 5px solid $border-gallery-grey;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' viewBox='0 0 24 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.925 1.325L21.825 0.225C21.525 -0.075 20.925 -0.075 20.625 0.225L8.725 12.125L2.525 5.925C2.225 5.625 1.625 5.625 1.325 5.925L0.225 7.025C-0.075 7.325 -0.075 7.925 0.225 8.225L8.025 16.025C8.225 16.225 8.425 16.225 8.625 16.225C8.825 16.225 9.025 16.125 9.225 16.025L22.725 2.525C23.225 2.225 23.225 1.725 22.925 1.325Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.landmarks-select__input:focus + .landmarks-select__check-box {
  background-color: $border-gallery-grey;
  border: 5px solid $border-gallery-grey;
}

.landmarks-select__input:disabled + .landmarks-select__check-box {
  box-shadow: 0 0 0 0.1em #9e9e9e;
}

.landmarks-select__input:checked:disabled + .landmarks-select__check-box {
  background-color: #9e9e9e;
}
