.line-break {
  display: none;

  &--small {
    @media (max-width: $mobile-width-only) {
      display: block;
    }
  }

  &--medium {
    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      display: block;
    }
  }

  &--big {
    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}
