.main-other-head {
  background: url("../img/intro.jpg") no-repeat bottom;
  background-size: 280%;
  background-position-y: bottom;
  background-position-x: center;
  width: 100%;
  min-height: 159px;
  margin-bottom: 31px;
}

.main-other-head__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 52px 0 65px;
}

.main-other-head__triangle {
  position: absolute;
  top: 159px;
}
