.main-intro {
  margin: 0 auto 12px auto;
  height: unset;

  @media (min-width: $tablet-width) {
    margin: 0 auto 52px auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 41px auto;
    height: 110px;
  }
}

.main-intro__wrapper {
  padding: 0 25px;
  text-align: center;
}

.main-intro__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 30px;
  white-space: break-spaces;


  @media (min-width: $desktop-width) {
    font-size: 21px;
    margin-bottom: 30px;
  }
}

.main-intro__description {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 26px;
}
