.main-head {
  background-image: url("../img/intro-triangle.svg"), url("../img/main-mobile.jpg");
  background-position: bottom center;
  background-size: 100%, cover;
  background-repeat: no-repeat;
  min-height: 389px;
  margin-bottom: 33px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 43.5px;
    background-image: url("../img/intro-triangle-tablet.svg"), url("../img/main-tablet.jpg");
    background-position: bottom center;
    min-height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-triangle-tablet.svg"), url("../img/main-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
    background-image: url("../img/intro-triangle-desktop.svg"), url("../img/main-desktop.jpg");
    background-position: bottom center;
  }
}

.main-head__image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 8px;
  }
}


.main-head__title {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.main-head__description {
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
}
