.main-nav {
  width: auto;
  min-height: 56px;
  background-color: #ffffff;
  display: grid;

  @media(min-width: $tablet-width) {
    display: flex;
}
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
}
  }


.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 61px;
  height: 48px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: $blue;
  }
}

.main-nav--closed .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 23px;
    height: 4px;
    background-color: $blue;
    box-shadow: 0 8px 0 0 $blue, 0 16px 0 0 $blue;
  }

  &:active,
  ::before {
    background-color: fade(#ffffff, 30%);
    box-shadow:
      0 8px 0 0 fade(#ffffff, 30%),
      0 16px 0 0 fade(#ffffff, 30%);
  }
}

.main-nav--opened .main-nav__toggle {
  top: 3px;
  right: -7px;
  left: auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 8px;
    width: 30px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}

.main-nav__list a {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;

  @media (max-width: $mobile-width-only) {
    .main-nav__list a {
      color: #ffffff;
      font-weight: bold;
      font-size: 18px;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: grid;
    width: 100%;

  }

  .main-nav__toggle {
    display: none;
  }

  @media (min-width: $desktop-width) {
    .main-nav__wrapper {
      width: 1200px;
    }
  }
}


@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }
}
