.main-nav {
  width: auto;
  background-color: $white;
  display: grid;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 56px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 23px;
  height: 22px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.main-nav--closed .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    width: 23px;
    height: 4px;
    background-color: $blue;
    box-shadow: 0 9px 0 0 $blue, 0 18px 0 0 $blue;
  }
}

.main-nav--closed .main-nav__toggle:hover::before {
  opacity: 0.6;
}

.main-nav--closed .main-nav__toggle:active::before {
  opacity: 0.3;
}

.main-nav--opened .main-nav__toggle {
  top: 19px;
  right: 18px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -3px;
    width: 27px;
    height: 4px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.6;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: grid;
    width: 100%;
  }

  .main-nav__toggle {
    display: none;
  }

  @media (min-width: $desktop-width) {
    .main-nav__wrapper {
      width: 1200px;
    }
  }
}


@media (max-width: $mobile-width-only) {
  .main-nav--closed li {
    display: none;

    &--active {
      display: block;
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs li {
  display: block;
}

// .main-nav--nojs li:nth-child(3) {
//   display: none;

//   @media (min-width: $tablet-width) {
//     display: block;
//   }
// }
