.main-head {
  background: url("../img/intro.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 398px;
  margin-bottom: 32px;

  @media(max-width: $desktop-width) {
    margin-bottom: 55px;

  }
  @media(max-width: $tablet-width) {
    margin-bottom: 43.5px;
  }
  @media(max-width: $mobile-width-only){
    margin-bottom: 32px;
  }
}

.main-head__image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 90px 0 85px;
}

.main-head__title {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.main-head__description {
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
}

.main-head--form {
  background: url("../img/intro.jpg") no-repeat bottom;
  background-size: cover;
  min-height: 398px;
}

.main-gallery-head__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 56px;
}
