.main-nav {
  width: 100%;
}

.main-nav__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-nav__list a {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav__list a {
    color: #f22fee;
    font-weight: bold;
    font-size: 18px;
  }
}
