.main-intro {
  min-width: 285px;
  max-width: 70.75%;
  text-align: center;
  margin: 0 auto 41px auto;

  @media (max-width: $tablet-width){
    margin: 0 auto 52px auto;
  }
  @media (max-width: $desktop-width){
    margin: 0 auto 41px auto;
  }
  @media(max-width: $mobile-width-only){
    margin: 0 auto 30px auto;
  }
}

.main-intro__wrapper {
  min-width: 285px;
  text-align: center;
}

.main-intro__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.main-intro__description {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 26px;
}
