.main-other-head {
  background-image: url("../img/intro-triangle.svg"), url("../img/back-mobile.jpg");
  background-position: bottom center;
  background-size: 100%, cover;
  background-repeat: no-repeat;
  min-height: 158px;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--catalog {
    margin-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/intro-triangle-tablet.svg"), url("../img/back-desktop.jpg");
    background-position: bottom center;
    background-size: 100%, cover;
    background-repeat: no-repeat;
    min-height: 290px;
    margin-bottom: 61px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-triangle-tablet.svg"), url("../img/back-desktop@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/intro-triangle-desktop.svg"), url("../img/back-desktop.jpg");
    background-position: bottom center;
    background-size: 100%, cover;
    background-repeat: no-repeat;
    min-height: 301px;
    margin-bottom: 113px;
  }
}

.main-other-head__image {
  padding-bottom: 8px;
  padding-right: 1px;

  @media (min-width: $tablet-width) {
    padding-bottom: 15px;
    padding-right: 0;
  }
}
