.main-intro {
  margin: 0 auto 12px auto;
  height: unset;

  @media (min-width: $tablet-width) {
    margin: 0 auto 52px auto;

    &--form {
      margin-bottom: 87px;
    }

  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 42px auto;

    &--form {
      margin-bottom: 58px;
    }
  }
}

.main-intro__wrapper {
  padding: 0 25px;
  text-align: center;
}

.main-intro__wrapper-form {
  padding: 0 20px;

}

.main-intro__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-right: 5px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 1px 53px 0 50px;;
  }


  @media (min-width: $desktop-width) {
    font-size: 21px;
    margin-bottom: 30px;
  }
}



.main-intro__description {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 26px;
}

.main-intro__form-description {
  line-height: 24px;
  margin-top: -2px;
  margin-bottom: 38px;
  padding-left: 2px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-left: 0;
  }
}

.main-intro__form-title {
  padding-left: 7px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-left: 50px;
    margin-bottom: 33px;
  }
  @media(min-width: $desktop-width) {
    padding-top: 0;
    padding-left: 51px;
  }
}
