.map {
  width: 100%;
  margin-bottom: 31.5px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 23.5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23.5px;
  }
}

.map__map-marker {
  position: absolute;
  left: 45.5%;
  bottom: 47.6%;

  @media (min-width: $tablet-width) {
    left: 48.2%;
    bottom: 46.5%;
  }

  @media (min-width: $desktop-width) {
    left: 48.9%;
    bottom: 46.7%;
  }
}

.map__map {
  width: 100%;
  height: 350px;
  border: none;
  margin: auto;
  background-image: url("../img/map-mobile.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $gray;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
