.map {
  width: 100%;
  margin-bottom: 38.5px;
}

.map__image {
  background: url("../img/map.png") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
