.map {
  width: 100%;
  margin-bottom: 38.5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30.5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30.5px;
  }
}

.map__image {
  background: url("../img/map.png") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.map__map-marker {
  @media (min-width: $tablet-width) {
    padding-right: 1px;
    padding-top: 3px;
  }
}

.hotels-map {
  width: 100%;
  height: 350px;
  border: none;
  margin: auto;
  background-image: url("../img/map-mobile.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $gray;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
