.other-places {
  background-color: #eeeeee;
  text-align: center;
  width: 100%;
}

.other-places__wrapper {

}

.items__title{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.items__description {
  font-size: 14px;
  text-transform: uppercase;
}
