.other-places {
  background-color: #eeeeee;
  text-align: center;
  display: grid;
  text-transform: uppercase;
  padding: 25px 20px 0 20px;
  margin-bottom: 31px;

  li:nth-child(3) p {
    border: none;
    padding: 0 15px 0 14px;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 30px;
    gap: 40px 40px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {

    padding: 43px 22px 32px 23px;
    gap: 40px 45px;
    margin-bottom: 56px;
  }
}

.other-places__items {
  display: grid;
  padding-bottom: 25px;
  grid-template-rows: 0.5fr 0.3fr 0.5fr;


  @media (min-width: $tablet-width) {
    grid-template-rows: 1.3fr 0.8fr 1fr;
  }
  @media (min-width: $desktop-width) {
    grid-template-rows: 1fr 1fr 1fr;
  }

}

.other-places__title {
  font-size: 18px;
  padding-bottom: 8px;

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}

.other-places__description {
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $desktop-width) {


  }
  @media (max-width: $mobile-width-only) {
    border-bottom: solid 1px $border-grey;
    padding: 0 15px 24px 14px;
  }
}

.other-places__number {
  font-size: 14px;
  padding-bottom: 16px;

  @media (min-width: $desktop-width) {

    align-self: center;
  }
}
