.other-places {
  background-color: #eeeeee;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  margin-bottom: 33px;
}


@media (max-width: $desktop-width) {
  .other-places {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
}

@media (max-width: $tablet-width) {
  .other-places {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
}

@media (max-width: $mobile-width-only) {
  .other-places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.other-places__items {
  border-bottom: 1px solid $border-grey;

  display: grid;
  justify-items: center;
  grid-auto-rows: 1fr;
  align-items: stretch;
  @media(max-width: $mobile-width-only){
    padding: 25px 50px;
  }
}

.other-places__items:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.other-places__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  @media(max-width: $mobile-width-only){
    align-self: center;
  }
}

.other-places__number {
  @media(max-width: $mobile-width-only){
    align-self: stretch;
  }
}

.other-places__description {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
