.other-places {
  background-color:#eeeeee;
  text-align: center;
  display: grid;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 30px;
    gap: 40px 40px;
    margin-bottom: 58px;
  }
  @media (max-width: $mobile-width-only) {
    padding: 25px 20px;
    margin-bottom: 33px;



    li:nth-child(3) p {
      border: none;
    }
  }
}

// br{
//   @media(min-width: $desktop-width)

//   {
//     display: none;
//   }

// }
.other-places__items {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-rows: 1.3fr 0.8fr 1fr;
  }
  @media (max-width: $mobile-width-only) {
    padding-bottom: 25px;
    grid-template-rows: 0.7fr 0.8fr 1fr;
  }
}

.other-places__title {
  font-size: 18px;
}

.other-places__description {
  font-size: 14px;
  @media (max-width: $mobile-width-only) {
    border-bottom: solid 1px $border-grey;
    padding-bottom: 25px;

  }
}
