.other-places {
  background-color: #eeeeee;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 26px 22px 0 22px;
  margin-bottom: 30px;
}

.other-places__items {
  border-bottom: 1px solid $border-grey;
  margin-bottom: 25px;
}

.other-places__items:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.other-places__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}

.other-places__number {
  margin: 12px auto;
}

.other-places__description {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
