.other-places {
  background-color: $gray;
  text-align: center;
  display: grid;
  text-transform: uppercase;
  padding: 25px 20px 0 20px;
  margin-bottom: 31px;

  li:nth-child(3) p {
    border: none;
    padding: 0 15px 0 14px;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 0.5fr 1fr;
    padding: 39px 30px 40px;
    gap: 0 83px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 22px 39px 23px;
    gap: 0 44px;
    margin-bottom: 57px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.other-places__items {
  display: grid;
  padding-bottom: 25px;
  grid-template-rows: 0.5fr 0.3fr 0.5fr;


  @media (min-width: $tablet-width) {

    padding-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 1fr 0.5fr 1fr;

    &:nth-child(2) span {
      padding-bottom: 20px;
    }
  }
}

.other-places__title {
  font-size: 18px;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    padding: 3px 27px 9px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}

.other-places__description {
  font-size: 14px;
  line-height: 21px;
  border-bottom: solid 1px $border-grey;
  padding: 0 15px 24px 14px;

  @media (min-width: $tablet-width) {
    padding: 1px 3px 0 1px;
    border: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 1px 4px 0 1px;
  }
}

.other-places__number {
  font-size: 14px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding-bottom: 21px;
  }

  @media (min-width: $desktop-width) {

    align-self: center;
  }
}
