.page-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #ffffff;
  outline-offset: -2px;
}


.page-header__logo {
  height: 85px;
}

@media (max-width: $tablet-width) {
  .page-header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
