.page-footer__wrapper {
  padding: 0 20px 20px;
  display: grid;
  justify-items: center;
  gap: 26px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 59px 35px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px 35px;
    justify-content: space-between;
  }
}

.page-footer__copyright {
  align-items: center;
  display: flex;
}

.page-footer-tag {
  padding-right: 3px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-right: 6px;
    padding-top: 10px;
    padding-left: 1px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-left: 2px;
    margin-left: -2px;
  }
}

.page-footer-tag__item {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.page-footer__social {
  @media (min-width: $tablet-width) {
    padding-right: 10px;
  }
}
