.page-footer__wrapper {
  padding: 0 20px;
  display: grid;
  justify-items: center;
  gap: 26px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 59px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
    justify-content: space-between;
  }
}

.page-footer__copyright {
  align-items: center;
  display: flex;
}

.page-footer__tag {
  padding-right: 5px;
  padding-top: 1px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-right: 6px;
    padding-top: 10px;
    padding-left: 1px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 6px;
    padding-left: 0;
  }
}

.page-footer__social {
  @media (min-width: $tablet-width) {
    padding-right: 10px;
  }
}
