.page-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #ffffff;
  outline-offset: -2px;
}


.page-header__logo {
  height: 85px;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

@media (max-width: $tablet-width) {
  .page-header__logo {
    order: 2;
  }
}
