.person-information__input {
  font-size: $title;
  width: 100%;
  background-color: $input-bacground;
  border: none;
  height: 58px;
  grid-row-start: 1;
  grid-column-start: 2;

  &:hover {
    background-color: $border-gallery-grey;
  }

  &:active,
  :focus,
  :valid {

    background-color: #ffffff;
  }
}

.person-information {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 58px;
  gap: 0 14px;
}

.person-information__lable {
  font-size: $description;
  text-transform: uppercase;
}
