.person-information__input {
  font-size: $title;
  width: 100%;
  background-color: $input-bacground;
  border: none;
  height: 58px;
  padding-left: 16px;

  &:hover {
    background-color: $border-gallery-grey;
  }

  &:active,
  :focus,
  :valid {

    background-color: #ffffff;
  }
}

.person-information {
  display: flex;
  margin-bottom: 20px;
  gap: 0 14px;
}

.person-information__lable {
  font-size: $description;
  text-transform: uppercase;
}
