.person-information__input {
  font-size: $title;
  width: 100%;
  background-color: $input-bacground;
  border: none;
  height: 58px;
  padding-left: 16px;

  &:hover {
    background-color: $border-gallery-grey;
  }

  &:active,
  :focus,
  :valid {

    background-color: #ffffff;
  }

  &::placeholder {
    color: #000000;
    font-weight: bold;
  }
}

.person-information {
  display: flex;
  margin-bottom: 20px;
  gap: 0 14px;

  @media (min-width: $desktop-width) {
    gap: 0 13.44px;
  }
}

.person-information__lable {
  font-size: $description;
  text-transform: uppercase;
  align-self: center;
}
