.presentation-video {
  background: url("../img/player.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    height: 500px;
    width: 648px;
    background-position: -76px 0px;
  }

  @media (min-width: $desktop-width) {
    height: 500px;
    width: 800px;
  }
}
