.presentation {
  margin-bottom: 81px;
}

.presentation__info {
  margin-bottom: 36px;
  padding: 0 21px 0 23px;

   @media (min-width: $tablet-width) {
     margin-bottom: 80px;
   }
}

.presentation__wrapper {
  // margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 199px;
  }
}

.presentation__title {
  font-size: $title;
  margin-bottom: 27px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-right: 3px;
    margin-bottom: 33px;
  }
}

.presentation__description {
  font-size: $description;
  line-height: 24px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    padding-right: 3px;
  }
}
