.presentation__info {
  margin-bottom: 33px;
}

.presentation__wrapper {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.presentation__title {
  font-size: $title;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.presentation__description {
  font-size: $description;
  line-height: 24px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
}

.presentation-video {
  background: url("../img/player.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
