legend {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: center;
}

fieldset {
  border: 0;
  margin: 0;
}

input::-webkit-input-placeholder {
  color: #000000;
  font-weight: bold;
  padding: 20px;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  width: 48px;
  height: 48px;
}

.reviews-form {
  @media (max-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    justify-content: center;
    grid-template-rows: repeat(4, 1fr);
  }

  @media (max-width: $mobile-width-only) {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 20px;
    min-width: 280px;
  }
}

.reviews-form__personal {
  @media (max-width: $tablet-width) {
    order: 1;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    justify-self: end;
  }

  @media (max-width: $mobile-width-only) {
    order: 1;
    grid-row-start: 1;
    grid-column-start: 1;
  }
}

.reviews-form__contacts {
  @media (max-width: $tablet-width) {
    order: 4;
    grid-row-start: -2;
    grid-row-end: 2;
    grid-column-start: -1;
    grid-column-end: 1;
    align-self: stretch;
  }

  @media (max-width: $mobile-width-only) {
    order: 2;
    grid-row-start: 2;
    grid-column-start: 1;
  }
}

.reviews-form__impressions {
  @media (max-width: $tablet-width) {
    order: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: flex-start;
  }

  @media (max-width: $mobile-width-only) {
    order: 3;
    grid-row-start: 3;
    grid-column-start: 1;
  }
}

.reviews-form__landmarks {
  @media (max-width: $tablet-width) {
    order: 4;
    grid-row-start: 3;
    grid-column-start: -1;
    grid-column-end: 1;
  }

  @media (max-width: $mobile-width-only) {
    order: 4;
    grid-row-start: 4;
    grid-column-start: 1;
  }
}

.reviews-form__emotions {
  @media (max-width: $tablet-width) {
    order: 5;
    grid-row-start: 4;
    grid-column-start: -1;
    grid-column-end: 1;
  }

  @media (max-width: $mobile-width-only) {
    order: 5;
    grid-row-start: 5;
    grid-column-start: 1;
  }
}
