.reviews-form__legend {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;

    &--impressions {
      text-align: left;
      margin-bottom: 60px;
    }

    &--personal {
      text-align: left;
      padding-left: 58px;
      margin-bottom: 54px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;

    &--impressions {
      padding-left: 80px;
    }

    &--personal {
      padding-left: 80px;
    }
  }
}

.reviews-form {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 280px;
  grid-template-rows: 1fr;

  & div.reviews-form__wrapper:nth-child(5) {
    border: 0;
    margin-bottom: 51px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-template-rows: repeat(4, 1fr);
    padding: 0 60px;

    &::before {
      content: "";
      position: absolute;
      // top: 393px;
      left: 50%;
      height: 292px;
      width: 1px;
      background-color: #e5e5e5;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-template-rows: 1fr;
    width: 960px;
    margin: 0 auto;
  }
}

.reviews-form__wrapper {
  &-personal,
  &-contacts,
  &-impressions,
  &-landmarks {
    margin-bottom: 20px;
    border-bottom: solid 1px #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    &-personal {
      grid-row-start: 1;
      grid-column-start: 2;
    }

    &-contacts {
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: -1;
      grid-column-end: 1;
      align-self: baseline;
    }

    &-impressions {
      grid-row-start: 1;
      grid-column-start: 1;

    }

    &-landmarks {
      grid-row-start: 3;
      grid-column-start: -1;
      grid-column-end: 1;

      align-self: baseline;
    }

    &-emotions {
      grid-row-start: 4;
      grid-column-start: -1;
      grid-column-end: 1;
    }
  }

  @media (min-width: $desktop-width) {
    &-emotions {
      margin-bottom: 58px;
    }
  }
}

.reviews-form__personal {
  border: none;
  margin: 0;
  order: 1;
  grid-row-start: 1;
  grid-column-start: 1;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.reviews-form__contacts {
  border: none;
  margin: 0;
  order: 2;
  grid-row-start: 2;
  grid-column-start: 1;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.reviews-form__impressions {
  border: none;
  margin: 0;
  order: 3;
  grid-row-start: 3;
  grid-column-start: 1;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.reviews-form__landmarks {
  border: none;
  margin: 0;
  order: 4;
  grid-row-start: 4;
  grid-column-start: 1;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
  }
}

.reviews-form__emotions {
  border: none;
  margin: 0;
  order: 5;
  grid-row-start: 5;
  grid-column-start: 1;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
