.site-list__menu {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;


  @media (max-width: $mobile-width-only) {
    display: flex;
    justify-content: center;
    padding: 16px 21px 12px;
    font-size: 18px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $blue;
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;


    &:hover {
      color: $white;
      background-color: $blue-hover;
    }

    &:focus,
    &:active {
      background-color: $blue-down;
      color: rgba($white, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    &:hover {
      color: $blue-hover;
    }

    &:active:focus {
      color: rgba(0, 0, 0, 0.3);
    }

    &--active {
      color: $menu-active;

      &:hover {
        color: $menu-hover;
      }

      &:active {
        color: rgba($color-black, 0.3);
      }
    }
  }
}

.site-list li:nth-child(1) a {
  border-top: none;
}

.site-list li:nth-child(5) a {
  @media (max-width: $mobile-width-only) {
    box-shadow: 1px -21px 29px -35px #000000 inset;
  }
}

.site-list {
  width: 100%;
  display: block;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    display: grid;

    justify-items: center;
  }
}

.site-list__item {
  align-self: center;
  padding-right: 1px;

  &:nth-child(3) {
    align-self: start;
  }

  &:active:focus {

    background-color: #5496bd;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 1px;

    &:nth-child(3) {
      padding-left: 9px;
      grid-column-start: 4;
      align-self: center;
    }

    &:nth-child(4) {
      padding-left: 4px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 4px;

    &:nth-child(3) {
      padding-left: 6px;
      grid-column-start: 4;
      align-self: center;
    }

    &:nth-child(4) {
      padding-left: 6px;
    }

    &:nth-child(5) {
      padding-right: 1px;
    }
  }
}
