.site-list a {
  @media (max-width: $mobile-width-only) {
    display: block;
    padding: 16px 21px;
    padding-bottom: 13px;
    font-size: 18px;
    line-height: 25px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $blue;
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
  }

  &:hover {
    color: $blue-hover;
  }

  &:active:focus {
    color: rgba(0, 0, 0, 0.3);
    background-color: #5496bd;
  }
}

.site-list li:nth-child(1) a {
  border-top: none;
}

.site-list li:nth-child(5) a {
  @media (max-width: $mobile-width-only) {
    box-shadow: 1px -21px 29px -35px #000000 inset;
  }
}

.site-list {
  width: 100%;
  display: block;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    display: grid;

    justify-items: center;
  }
}

.site-list__item {
  align-self: center;
  padding-right: 1px;

  &:nth-child(3) {
    align-self: start;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 1px;

    &:nth-child(4) {
      padding-left: 7px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 1px;

    &:nth-child(4) {
      padding-left: 4px;
    }
  }
}
