.social__list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7px;
  padding-bottom: 6px;
  padding-right: 3px;

  @media (min-width: $desktop-width) {
    gap: 7px;
    padding-bottom: 6px;
    padding-right: 6px;
  }
}

.social__link {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: $blue;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;

  &:hover {
    background-color: $blue-hover;
  }

  &:active:focus {
    background-color: $blue-down;
  }

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
  }

  &--facebook {
    background-image: url("../img/icon-facebook.svg");
  }

  &--youtube {
    background-image: url("../img/icon-youtube.svg");
  }
}
