.social__list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7px;
  padding-top: 6px;
  padding-right: 3px;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 7px;
    padding-top: 5px;
    padding-right: 6px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: $blue;

  &:hover {
    background-color: $blue-hover;
  }

  &:active:focus {
    background-color: $blue-down;

    .social__link-youtube,
    .social__link-facebook,
    .social__link-twitter {
      opacity: 0.3;
    }
  }
}
