.button {
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 13.5px 47px 18px 47px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  background-color: #e7e5e5;
}

br {
  @media (min-width: $desktop-width) {
    display: block;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}


.hide-mobile {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.hide-tab {
  @media (min-width: $mobile-width-only) and (max-width: $tablet-width) {
    display: none;
  }
}

.hide-pc {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}
