$blue: #81b3d2;
$border-grey: #d6d6d6;
$white: #ffffff;
$border-gallery-grey: #e5e5e5;
$input-bacground:#f2f2f2;
$background-fields: #e6e6e6;


$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

$title: 18px;
$description: 14px;
