@import "normalize.scss";
@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/global.scss";
@import "block/page.scss";
@import "block/main-head.scss";
@import "block/main-nav.scss";
@import "block/main-other-head.scss";
@import "block/gallery-intro.scss";
@import "block/gallery-image.scss";
@import "block/gallery-image-like.scss";
@import "block/gellery-list.scss";
@import "block/gallery.scss";
@import "block/presentation.scss";
@import "block/presentation-video.scss";
@import "block/main-gallery-head.scss";
@import "block/main-intro.scss";
@import "block/city.scss";
@import "block/city-picture-image.scss";
@import "block/city-features.scss";
@import "block/attractions.scss";
@import "block/attractions-picture.scss";
@import "block/attractions-features.scss";
@import "block/other-places.scss";
@import "block/hotel-search.scss";
@import "block/map.scss";
@import "block/reviews-form.scss";
@import "block/social.scss";
@import "block/social.scss";
@import "block/page-footer.scss";
